{% extends "base.html" %}

{% block content %}
    <h1 class="title">Add a Blog Entry</h1>


    <form action="/blog" method="post">
        <div>
            <span>Title for your new blog:</span>
            <input class="title-input" type='text' name='post-title' value='{{post_title}}'>
            <span class="error" name='title-error' style="visibility:{{title_error}};">Please fill in the title</span>
        </div>
        <div>
            <div class="spacing">Your new blog:</div>
            <input  class="body-input" type='text' name='post-body' value='{{post_body}}'>
            <span class="error" name='body-error' style="visibility:{{body_error}};">Please fill in the body</span>
        </div>
        <input type="submit" value='Add Entry' class='spacing'>
    </form>
    
{% endblock %}